/*配置样式*/
.npc_style {
  svg {
    width: 26px;
    height: auto;
    vertical-align: middle;
    padding-right: 20px;
  }
  pre {
    display: inline-block;
  }
  //介绍信息
  .ul_meat {
    list-style-type: auto;
    padding: 0 1em;
  }
  //输入框样式
  .table_style {
    padding: 1em 0;
    font-size: 18px;
    line-height: 2em;
    table {
      font-size: 26px;
      line-height: 2em;
    }
  }
  #dataTable {
    max-width: 1200px;
  }
}
