.npc-style svg{
    width: 26px;
    height: auto;
    vertical-align: middle;
    padding-right: 20px;
}


.npc_style_table{
    padding: 1em 0;
    font-size: 18px;
    line-height: 2em;
}
.npc_style_table table{
    font-size: 26px;
    line-height: 2em;
}

.npc_style_table .refund{
    font-size: 18px;
}





/*配置样式*/
.npc_style pre{
    display: inline-block;
}
.npc_style .npc_table input{
    width: 25em;
    
}
.npc_style .npc_table p{
     color: #666;
    letter-spacing: .01em;
    margin: 0;
    padding-top: 0.5em;
    
    font-size: 13px;
    line-height: 1.5;
}

/*配置JSON数据展示*/
.npc-style-json td{
    padding: 0.5em 1.5em;
}